$white-color: #ffffff;
$black-color: #333333;
$opinion-article-color: #565454d4;
$container-closing-in-color: #7070704d;
$container-days-color: #ffffffb3;
$message-color: #ebebeb;
$btn-vote-color: #ffffff00;
$votes-character: #88838357;


$main-font: Lato;
$btn-up: #1bbbb3e0;
$btn-down: #ffad1dd6;

// $bg-color = #f5f6f9
// $red-color = #ff5252
// $highlight = #ffffa2

// $main-color-font = rgba(0,0,0,0.87)

