@import '../../styles/vars';

.Opinion {
    height: 700px;
}
.Opinion-article {
    background-color: $opinion-article-color;
    padding-top: 35px;
    padding-left: 35px;
    margin-top: 90px;       
}
.Container-opinion {
    padding-left: 88px;
    padding-right: 88px;
    padding-top: 88px;
    padding-bottom: 41px;
    margin-left: 58px;
}
.Character {
    font-size: 62px;
    margin-top: -34px;
    margin-left: -3px;
}
.Description {
    font-size: 22px;
    padding-right: 45px;
}
.Link {
    a {
        text-decoration: underline;
        color: $white-color;
    }
}
.Opinion-article {
    p:nth-of-type(3) {
        font-size: 18px;
        margin-top: -8px;
        width: 421px;
        font-size: 21px;
        line-height: 24px;  
    }
}
.Opinion-article > p:nth-of-type(5) {
    font-weight: bold;
}
.Opinion-article > p:last-child {
    margin-left: -35px;
    text-align: center;
}
.Opinion-article > p:last-child > span:first-child {
    background: $btn-up;
    padding: 15px; 
    width: 50%;
    float: left;
}
.Opinion-article > p:last-child > span:last-child {
    background: $btn-down;
    padding: 15px; 
    width: 50%;
    float: right;
}
.Container-closing-in {
    background-color: $container-closing-in-color;
    padding-top: 17px;
    
}
.Closing-in {
    font-size: 13px;
    line-height: 21px;    
    font-weight: bold;
}
.Container-days {
    background-color: $container-days-color;
}
.Number-days {
    font-size: 37px; 
    line-height: 50px;
    color: $black-color;
}
.Message {
    margin-top: 28px;
    background: $message-color;
    padding: 28px;
    color: $black-color;
}
.Message-title {
    font-size: 22px;
    line-height: 26px;    
    font-weight: 300;    
}
.Message-description {
    font-size: 37px;
    line-height: 42px;
    font-weight: bold;
}
.Message-content {
    margin-left: -60px;
    margin-top: 9px;
}
.Votes-title {
    margin-top: 34px;
    color: $black-color;
}
.Votes-up {
    background: $btn-up;
    padding: 4px;    
    margin-right: 8px;
    border: none;
    box-shadow: none;
    border-radius: initial;
}
.Votes-down {
    background: $btn-down;
    padding: 4px;    
    margin-right: 8px;
    border: none;
    box-shadow: none;
    border-radius: initial;
}
.Votes-up:active, .Votes-up:hover, .Votes-up:focus, .Votes-down:active, .Votes-down:hover, .Votes-down:focus {
    background: $btn-up;
    border: 2px solid $white-color;
    box-shadow: none;
}
.Votes-down:active, .Votes-down:hover, .Votes-down:focus {
    background: $btn-down;
    border: 2px solid $white-color;
    box-shadow: none;    
}
.Votes-character {
    padding-top: 336px;
}
.Title-character > span:first-child {
    position: absolute;
    background: $btn-up;
    padding: 4px;
    margin-top: 8px;
}
.Title-character > span:last-child {
    font-size: 45px;
    line-height: 48px;
    margin-left: 33px;
}
.Section-time {
    margin-top: -14px;

}
.Votes {
    margin-left: 36px;
}
.Votes > p:nth-last-of-type(2) {
    margin-top: -10px;
}
.Voting-result > span:first-child {
    background: $btn-up;
    padding: 8px; 
    float: left;
}
.Voting-result > span:last-child {
    background: $btn-down;
    padding: 8px; 
    float: right;
}
.Btn-vote {
    font-weight: bold;
    border-color: $white-color;
    background-color: $btn-vote-color;
    border-radius: inherit;
}
.Btn-vote:focus {
    box-shadow: none;
}
.Candidate {
    margin-top: 30px;
}
.Total {
    font-size: 24px;
}
.Add-character > div {
    margin-top: 32px;
    padding-top: 16px;
    padding-left: 14px;  
    padding-bottom: 1px;  
}
.Add-character {
    color: $black-color;
    background-image: url(../../assets/images/add_character.jpg);
    p {
        font-size: 32px;

    }
    button {
        float: right;
        margin-right: 22px;        
    }
}
.Submit-a-name {
    border: 2px solid $black-color;
    border-radius: inherit;
    color: $black-color;
    font-weight: bold;
    padding-right: 32px;
    padding-left: 32px;    
    padding-top: 10px;
    padding-bottom: 10px;    
    font-size: 18px;
}
footer {
    margin-top: 32px;
    background-color: red;

}
@media only screen and (max-width: 600px) {
    .Container-opinion {
        padding: 0px;
        margin-left: 0px;
    }
    .Message-content {
        margin-left: 0px;
    }
    .Opinion-article > p:nth-of-type(3){
        width: 385px;
        font-size: 15px;
    }
    .Character {
        font-size: 48px; 
    }    
    .img-fluid{
        background-position: bottom;
    }
    .Add-character > div > div:last-child {
        padding-bottom: 12px;
    }    
}